VITE_SUPABASE_URL=https://ztygqrwtbgudtkrmgild.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0eWdxcnd0Ymd1ZHRrcm1naWxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2ODExMjIsImV4cCI6MjA5NTI1NzEyMn0.0aqZNbVinbhvbUqi4yly3DwJX0irxcQn8qivn0G88wc
VITE_SITE_URL=https://phunxamvungtau.com
VITE_MEDIA_BASE_URL=https://www.phunxamvungtau.com
